{% extends "layout/basic.html" %}

{% block title %}<title>KNX.Partners</title>{% endblock %}
{% block header %}
<header>
    <h1>Ввод функций</h1>
</header>
{% endblock %}
{% block nav %}
<nav>
    <a href="http://localhost:8000">Home </a>
    <a href="http://localhost:8000/input/1">Ввод функций </a>
    <a href="http://localhost:8000/output/2">Выхлоп</a>
    <p>
        <a href="http://localhost:8000/device/3">Device</a>
    </p>
    <p>
        <a href="http://localhost:8000/sensor/4">Sensor/Interface</a>
    </p>
    <p>
        <a href="http://localhost:8000/devicewa/5">Device with automation</a>
    </p>
    <p>
        <a href="http://localhost:8000/socket/6">Socket</a>
    </p>
    <p>
        <a href="http://localhost:8000/light/7">Light</a>
    </p>
</nav>
{% endblock %}
{% block content %}
<section>
    Вы передали {{ id }}
</section>
{% endblock %}
{% block footer %}
<footer></footer>
{% endblock %}
