<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prob</title>
</head>
<body>
    <form action="/prob/" method="post">
        {% csrf_token %}
        <!-- <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name" maxlength="100" required value="{{ current_name }}"> -->
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
